<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>


  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="webstoryboy">

    <title>freash_tomato</title>
    <meta name="description" content="티켓팅을 위한 사이트">
    <meta name="keywords" content="티켓팅을 위한 사이트">
    <title>Fresh Tomato</title>

    <!-- css -->
    <link rel="stylesheet" href="./reset.css?after">
    <link rel="stylesheet" href="./style.css?after">
    <link rel="stylesheet" href="./swiper.css?after">
    <link hredf="./style.css" media="screen and (min-width: 512px) and (max-width: 1024px)" rel="stylesheet">
    <link hredf="./swiper.css" media="screen and (min-width: 512px) and (max-width: 1024px)" rel="stylesheet">

    
    <!-- 파비콘 -->
    <link rel="shortcut icon" href="assets/icons/freash_tomato_logo.png">
    <link rel="apple-touch-icon-precomposed" href="assets/icons/freash_tomato_logo.png" />
    <link rel="apple-touch-icon-precomposed" sizes="96x96" href="assets/icons/freash_tomato_logo.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/icons/freash_tomato_logo.png" />
    <link rel="apple-touch-icon-precomposed" sizes="192x192" href="assets/icons/freash_tomato_logo.png" />
    
    <!-- 페이스북 메타 태그 -->
    <meta property="og:title" content="Fresh Tomato" />
    <meta property="og:url" content="https://github.com/webstoryboy/megabox2019" />
    <meta property="og:image" content="https://webstoryboy.github.io/megabox2019/mega.jpg" />
    <meta property="og:description" content="티켓팅을 위한 사이트" />
   
    <!-- 트위터 메타 태그 -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Fresh Tomato">
    <meta name="twitter:url" content="https://github.com/webstoryboy/megabox2019/">
    <meta name="twitter:image" content="https://webstoryboy.github.io/megabox2019/mega.jpg">
    <meta name="twitter:description" content="티케팃을 위한 사이트">
    
    <!-- 웹 폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean" rel="stylesheet">
    
    <!-- HTLM5shiv ie6~8 -->
    <!--[if lt IE 9]> 
      <script src="assets/js/html5shiv.min.js"></script>
      <script type="text/javascript">
         alert("현재 브라우저는 지원하지 않습니다. 크롬 브라우저를 추천합니다.!");
      </script>
   <![endif]-->
</head>
<body>
    
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="header clearfix">
                    <h1>
                        <a href="/">
     
                            <strong><img src="assets/img/freash_tomato_main.png" alt="LIFE THEATER" style="transform: translateY(-20px);"></strong>
                    
                        </a>    
                    </h1>
                    <nav id="mNav">
                        <h2 class="ir_so">티켓팅 전체메뉴</h2>
                        <a href="#" class="ham"><span></span></a>
                    </nav>
                    <nav class="nav">
                        <ul class="clearfix">
                            <li><a href="/movie">영화</a></li>
                            <li><a href="/choice">영화예매</a></li>
                            <li><a href="/my_page">내정보</a></li>
                           
                        </ul>
                    </nav>    
                </div>
            </div>
        </div>
    </header>
    <!-- //header -->

    <div class="search">
        <div class="input-box">
            <i class="uil uil-search"></i>
            <form action="/search" calass = "form" id="form" method="POST">
                <input type="text" placeholder="영화를 검색하세요" class="input" name="searchinput"/>
                <a href="/search">
                    <button class="button">
                        <img src="assets/img/search.png">
                    </button>
                </a>
            </form>
        </div>
    </div>
         <!-- 검색창 -->
    














  
  <html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml"><script id="youtube-hd-fjdmkanbdloodhegphphhklnjfngoffa">var ythdlog = () => {};;var ythderror = () => {};</script><head id="ctl00_Head1"><script async="" src="http://ad.cgv.co.kr/NetInsight/text/CGV/CGV_201608/RIA@RIA_Skin_Ticketing?_=1696856224990"></script>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="No-Cache">
    <meta http-equiv="imagetoolbar" content="no">
    <meta name="keywords" content="CGV, 시지브이, 영화관, 극장, 영화, 티켓, 박스오피스, 극장, Movie, Theater, Cinema, Cgv, cgv, 예매, 상영작">
    <meta name="description" content="영화 그 이상의 감동. CGV">
    <title>CGV 빠른예매</title>
    <link rel="stylesheet" href="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/css/2023/0720/FORM_TYPE/common.css">
    <link rel="stylesheet" href="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/css/2023/0720/FORM_TYPE/reservation.css">
    <link rel="stylesheet" href="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/css/2023/0720/FORM_TYPE/reservation_tnb.css">
    <link rel="stylesheet" href="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/css/2023/0720/FORM_TYPE/reservation_popup.css">
    <link rel="stylesheet" href="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/css/2023/0720/FORM_TYPE/reservation_step3.css">
    <link rel="stylesheet" href="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/css/2023/0720/FORM_TYPE/reservation_step3_special.css">
    <link rel="stylesheet" href="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/css/2023/0720/FORM_TYPE/reservation_step3_step1.css">
    <link rel="stylesheet" href="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/css/2023/0720/FORM_TYPE/reservation_step3_step2.css">
    <link rel="stylesheet" href="http://img.cgv.co.kr/R2014/css/webfont.css">
    <link rel="stylesheet" href="http://img.cgv.co.kr/resource_pc/css/cgv.min.css">
    <script type="text/javascript" src="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/js/cgvpackage.min.js"></script>
    <script type="text/javascript" src="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/js/2023/1005.U_CULTURE/1600/jquery.cgv.js"></script>
    <script type="text/javascript" src="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/js/2023/1005.U_CULTURE/1600/jquery.cgv.api.ticket.js"></script>
    <script type="text/javascript" src="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/js/2023/1005.U_CULTURE/1600/jquery.cgv.api.payment.js"></script>
    <script type="text/javascript" src="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/js/2023/1005.U_CULTURE/1600/jquery.cgv.api.coupon.js"></script>
    <script type="text/javascript" src="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/js/2023/1005.U_CULTURE/1600/jquery.cgv.crypto.js"></script>
    <script type="text/javascript" src="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/js/2023/1005.U_CULTURE/1600/jquery.cgv.data.js"></script>
    <script type="text/javascript" src="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/js/2023/1005.U_CULTURE/1600/jquery.cgv.net.js"></script>
    
    <script type="text/javascript" src="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/js/2023/1005.U_CULTURE/1600/reservation.alert.js"></script>
    
    <script type="text/javascript" src="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/js/2023/1005.U_CULTURE/1600/reservation.js"></script>
    <script type="text/javascript" src="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/js/2023/1005.U_CULTURE/1600/reservation.popup.js"></script>
    <script type="text/javascript" src="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/js/2023/1005.U_CULTURE/1600/reservation.step1.js"></script>
    <script type="text/javascript" src="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/js/2023/1005.U_CULTURE/1600/reservation.step2.js"></script>
    <script type="text/javascript">
    // for loadStep3Resources_STEP2 include source path;
    var CDN_PATH_JS = "http://img.cgv.co.kr/CGV_RIA/Ticket/Common/js/2023/1005.U_CULTURE/1600/";
    // 초기 선택값 설정
    preselectSetting( 
      '20033940',
      '20033629',
      '',
      '',
      '',
      '',
      '',
      '',
      '',
      ''
    );
    </script>
    <input type="hidden" id="_w_simile" data-inspect-config="3"><script type="text/javascript" src="chrome-extension://dbjbempljhcmhlfpfacalomonjpalpko/scripts/inspector.js"></script><script src="chrome-extension://njgehaondchbmjmajphnhlojfnbfokng/js/contentScripts/dom.js"></script><style type="text/css"></style></head>
    
    <body style="">
    <a name="t"></a>
    <div id="wrap" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
      <!-- 컨텐츠 -->
      <div id="container">
        <!-- 빠른예매 -->
        <div id="ticket" class="ticket ko">
          
          <!-- 타이틀 -->
          <div class="navi">
            <div class="newsletter">
              <p style="display: none;"><a href="#">Click here</a> if you want to receive newsletter about English subtitle movies</p>
            </div>

            
          </div>
          <!-- //타이틀 -->
          <!-- 메인컨텐츠 -->
          <div class="steps">
            <!-- step1 -->
            <div class="step step1" style="height: 600px; display: block;">
              <!-- MOVIE 섹션 -->
              <div class="section section-movie">
                <!-- col-head -->
                <div class="col-head" id="skip_movie_list">
                  <h3 class="sreader">영화</h3>
                  <a href="#" class="skip_to_something" onclick="skipToSomething('skip_theater_list');return false;">영화선택 건너뛰기</a>
                </div>
                <!-- col-body -->
                <div class="col-body" style="height: 565px;">
                  <!-- 영화선택 -->
                  <div class="movie-select">
                    <div class="tabmenu">
                      <span class="side on"></span>
                      <a href="#" class="button menu1 selected">전체</a>
                      <span class="side on"></span>
                      <a href="#" class="button menu2">아트하우스<span class="arrow"></span></a>
                      <div class="tabmenu-selectbox MOVIECOLLAGE" style="display:none;">
                        <ul>
                          <li><a href="#" onclick="return false;">전체</a></li>
                          <li><a href="#" onclick="return false;">최신작</a></li>
                        <li com_cd="03"><a href="#" onclick="return false;">시네마톡</a></li><li com_cd="09"><a href="#" onclick="return false;">STAGE</a></li><li com_cd="44"><a href="#" onclick="return false;">프리미어DAY</a></li><li com_cd="85"><a href="#" onclick="return false;">라이브러리톡</a></li><li com_cd="QM"><a href="#" onclick="return false;">서울드래곤시티 상영회</a></li><li com_cd="UI"><a href="#" onclick="return false;">무비페어링</a></li><li com_cd="Z6"><a href="#" onclick="return false;">반값데이 부국제 특가</a></li></ul>
                      </div>
                      <span class="side"></span>
                      <a href="#" onclick="return false;" class="button menu3">특별관<span class="arrow"></span></a>
                      <div class="tabmenu-selectbox SPECIALTHEATER" style="display:none;">
                        <ul>
                          <li><a href="#" onclick="return false;">전체</a></li>
                          <li><a href="#" onclick="return false;">IMAX</a></li>
                          <li><a href="#" onclick="return false;">4DX</a></li>
                          <li><a href="#" onclick="return false;">SCREENX</a></li>
                          <li><a href="#" onclick="return false;">PRIVATE BOX</a></li>
                          <li><a href="#" onclick="return false;">SUITE CINEMA</a></li>
                          <li><a href="#" onclick="return false;">CINE de CHEF</a></li>
                          <li><a href="#" onclick="return false;">TEMPUR CINEMA</a></li>
                          <li><a href="#" onclick="return false;">GOLD CLASS</a></li>
                        <li><a href="#" onclick="return false;">CINE&amp;FORET</a></li><li><a href="#" onclick="return false;">CINE&amp;LIVINGROOM</a></li><li><a href="#" onclick="return false;">CINE KIDS</a></li><li><a href="#" onclick="return false;">DOLBY ATMOS</a></li><li><a href="#" onclick="return false;">PREMIUM</a></li><li><a href="#" onclick="return false;">STARIUM</a></li><li><a href="#" onclick="return false;">SPHERX</a></li><li><a href="#" onclick="return false;">BRAND</a></li></ul>
                      </div>
                      <span class="side"></span>
                    </div>
                    <div class="sortmenu">
                      <a href="#" onclick="sortMovieByRank();return false;" id="movieSortRankBtn" class="button btn-rank selected">예매율순</a>
                      <a href="#" onclick="sortMovieByName();return false;" id="movieSortNameBtn" class="button btn-abc">가나다순</a>
                      
                    </div>
                    <div class="movie-list nano has-scrollbar has-scrollbar-y" id="movie_list">
                      <ul class="content scroll-y" onscroll="movieSectionScrollEvent();" tabindex="-1" style="right: -17px;"><li class="" data-index="0" movie_cd_group="20033913" movie_idx="87407"><a href="#" onclick="return false;" title="30일" alt="30일"><i class="cgvIcon etc age12">12</i><span class="text">30일</span><span class="sreader"></span></a></li><li class="selected" data-index="1" movie_cd_group="20033629" movie_idx="87305" selectedmovietype="ALL"><a href="#" onclick="return false;" title="화사한그녀" alt="화사한그녀"><i class="cgvIcon etc age12">12</i><span class="text">화사한그녀</span><span class="sreader"></span></a></li><div class="selectbox-movie-type checkedBD" style="width: auto; top: 36px; display: none;">
                      <a href="#" onclick="closeSelectboxMovieType();return false;" class="btn-close">영화속성 레이어 닫기</a>
                      <ul>
                        <li id="sbmt_all" class="GROUP1 ALL selected"><a data-type="ALL" href="#" onclick="SelectboxMovieTypeClickListener(event);return false;">전체</a></li>
                        <li id="sbmt_digital" class="GROUP1 DIGITAL proplist" style="display: list-item;"><a data-type="DIGITAL" href="#" onclick="SelectboxMovieTypeClickListener(event);return false;">2D</a></li>
                        <li id="sbmt_imax" class="GROUP1 IMAX proplist dimmed" style="display: none;"><a data-type="IMAX" href="#" onclick="SelectboxMovieTypeClickListener(event);return false;">IMAX</a></li>
                        <li id="sbmt_4dx" class="GROUP1 4DX proplist dimmed" style="display: none;"><a data-type="4DX" href="#" onclick="SelectboxMovieTypeClickListener(event);return false;">4DX</a></li>
                        <li id="sbmt_soundx" class="GROUP1 SOUNDX proplist" style="display: list-item;"><a data-type="SOUNDX" href="#" onclick="SelectboxMovieTypeClickListener(event);return false;">SOUNDX</a></li>
                        <li id="sbmt_screenx" class="GROUP1 SCREENX proplist dimmed" style="display: none;"><a data-type="SCREENX" href="#" onclick="SelectboxMovieTypeClickListener(event);return false;">SCREENX</a></li>
                        <li id="sbmt_3d" class="GROUP1 3D proplist dimmed" style="display: none;"><a data-type="3D" href="#" onclick="SelectboxMovieTypeClickListener(event);return false;">3D</a></li>
                        <li id="sbmt_dubbing" class="GROUP2 DUBBING proplist dimmed" style="display: none;"><a data-type="DUBBING" href="#" onclick="SelectboxMovieTypeClickListener(event);return false;">더빙</a></li>
                        <li id="sbmt_subtitle" class="GROUP2 SUBTITLES proplist dimmed" style="display: none;"><a data-type="SUBTITLES" href="#" onclick="SelectboxMovieTypeClickListener(event);return false;">자막</a></li>
                        <li id="sbmt_lovemom" class="GROUP3 LOVEMOM proplist dimmed" style="display: none;"><a data-type="LOVEMOM" href="#" onclick="SelectboxMovieTypeClickListener(event);return false;">러브맘</a></li>
                        <li id="sbmt_liveTalk" class="GROUP3 LIVETALK proplist dimmed" style="display: none;"><a data-type="LIVETALK" href="#" onclick="SelectboxMovieTypeClickListener(event);return false;">스타라이브톡</a></li>
                        <li id="sbmt_wheelchairAccess" class="GROUP3 WHEELCHAIRACCESS proplist dimmed" style="display: none;"><a data-type="WHEELCHAIRACCESS" href="#" onclick="SelectboxMovieTypeClickListener(event);return false;">배리어프리</a></li>
                      <li class="proplist GROUP3 thirdItems thidItem_YZ overline" id="thidItem_YZ"><a onclick="SelectboxMovieTypeClickListener(event);return false;" href="#" data-type="YZ">CGV회원시사</a></li><li class="proplist GROUP3 thirdItems thidItem_NO" id="thidItem_NO"><a onclick="SelectboxMovieTypeClickListener(event);return false;" href="#" data-type="NO">무대인사</a></li><li class="proplist GROUP3 thirdItems thidItem_YG" id="thidItem_YG"><a onclick="SelectboxMovieTypeClickListener(event);return false;" href="#" data-type="YG">PRIVATE BOX</a></li></ul>
                    </div><li class="" data-index="2" movie_cd_group="20033946" movie_idx="87408"><a href="#" onclick="return false;" title="화란" alt="화란"><i class="cgvIcon etc age15">15</i><span class="text">화란</span><span class="sreader"></span></a></li><li class="" data-index="3" movie_cd_group="20033689" movie_idx="87335"><a href="#" onclick="return false;" title="천박사퇴마연구소-설경의비밀" alt="천박사퇴마연구소-설경의비밀"><i class="cgvIcon etc age12">12</i><span class="text">천박사퇴마연구소-설경의비밀</span><span class="sreader"></span></a></li><li class="" data-index="4" movie_cd_group="20033987" movie_idx="87422"><a href="#" onclick="return false;" title="바람따라만나리:김호중의계절" alt="바람따라만나리:김호중의계절"><i class="cgvIcon etc ageAll">ALL</i><span class="text">바람따라만나리:김호중의계절</span><span class="sreader"></span></a></li><li class="" data-index="5" movie_cd_group="20033800" movie_idx="87388"><a href="#" onclick="return false;" title="1947보스톤" alt="1947보스톤"><i class="cgvIcon etc age12">12</i><span class="text">1947보스톤</span><span class="sreader"></span></a></li><li class="" data-index="6" movie_cd_group="20033758" movie_idx="87354"><a href="#" onclick="return false;" title="크리에이터" alt="크리에이터"><i class="cgvIcon etc age12">12</i><span class="text">크리에이터</span><span class="sreader"></span></a></li><li class="" data-index="7" movie_cd_group="20033759" movie_idx="87355"><a href="#" onclick="return false;" title="사나-저주의아이" alt="사나-저주의아이"><i class="cgvIcon etc age15">15</i><span class="text">사나-저주의아이</span><span class="sreader"></span></a></li><li class="" data-index="8" movie_cd_group="20033508" movie_idx="87246"><a href="#" onclick="return false;" title="아이유콘서트:더골든아워" alt="아이유콘서트:더골든아워"><i class="cgvIcon etc ageAll">ALL</i><span class="text">아이유콘서트:더골든아워</span><span class="sreader"></span></a></li><li class="" data-index="9" movie_cd_group="20033820" movie_idx="87395"><a href="#" onclick="return false;" title="거미집" alt="거미집"><i class="cgvIcon etc age15">15</i><span class="text">거미집</span><span class="sreader"></span></a></li><li class="" data-index="10" movie_cd_group="20033799" movie_idx="87387"><a href="#" onclick="return false;" title="더넌2" alt="더넌2"><i class="cgvIcon etc age15">15</i><span class="text">더넌2</span><span class="sreader"></span></a></li><li class="" data-index="11" movie_cd_group="20033416" movie_idx="87232"><a href="#" onclick="return false;" title="그란투리스모" alt="그란투리스모"><i class="cgvIcon etc age12">12</i><span class="text">그란투리스모</span><span class="sreader"></span></a></li><li class="" data-index="12" movie_cd_group="20033764" movie_idx="87360"><a href="#" onclick="return false;" title="퍼피구조대-더마이티무비" alt="퍼피구조대-더마이티무비"><i class="cgvIcon etc ageAll">ALL</i><span class="text">퍼피구조대-더마이티무비</span><span class="sreader"></span></a></li><li class="" data-index="13" movie_cd_group="20033674" movie_idx="87331"><a href="#" onclick="return false;" title="킴스비디오" alt="킴스비디오"><i class="cgvIcon etc age12">12</i><span class="text">킴스비디오</span><span class="sreader"></span></a></li><li class="" data-index="14" movie_cd_group="20033865" movie_idx="87403"><a href="#" onclick="return false;" title="플로라앤썬" alt="플로라앤썬"><i class="cgvIcon etc age15">15</i><span class="text">플로라앤썬</span><span class="sreader"></span></a></li><li class="" data-index="15" movie_cd_group="20033435" movie_idx="87238"><a href="#" onclick="return false;" title="잠" alt="잠"><i class="cgvIcon etc age15">15</i><span class="text">잠</span><span class="sreader"></span></a></li><li class="" data-index="16" movie_cd_group="20033608" movie_idx="87297"><a href="#" onclick="return false;" title="여름을향한터널,이별의출구" alt="여름을향한터널,이별의출구"><i class="cgvIcon etc age12">12</i><span class="text">여름을향한터널,이별의출구</span><span class="sreader"></span></a></li><li class="" data-index="17" movie_cd_group="20033175" movie_idx="87175"><a href="#" onclick="return false;" title="오펜하이머" alt="오펜하이머"><i class="cgvIcon etc age15">15</i><span class="text">오펜하이머</span><span class="sreader"></span></a></li><li class="" data-index="18" movie_cd_group="20033959" movie_idx="87416"><a href="#" onclick="return false;" title="8과2분의1" alt="8과2분의1"><i class="cgvIcon etc age15">15</i><span class="text">8과2분의1</span><span class="sreader"></span></a></li><li class="" data-index="19" movie_cd_group="20033958" movie_idx="87415"><a href="#" onclick="return false;" title="달콤한인생" alt="달콤한인생"><i class="cgvIcon etc age15">15</i><span class="text">달콤한인생</span><span class="sreader"></span></a></li><li class="" data-index="20" movie_cd_group="20033960" movie_idx="87417"><a href="#" onclick="return false;" title="영혼의줄리에타" alt="영혼의줄리에타"><i class="cgvIcon etc age15">15</i><span class="text">영혼의줄리에타</span><span class="sreader"></span></a></li><li class="" data-index="21" movie_cd_group="20033755" movie_idx="87351"><a href="#" onclick="return false;" title="당나귀EO" alt="당나귀EO"><i class="cgvIcon etc age15">15</i><span class="text">당나귀EO</span><span class="sreader"></span></a></li><li class="" data-index="22" movie_cd_group="20034025" movie_idx="87432"><a href="#" onclick="return false;" title="팟제너레이션" alt="팟제너레이션"><i class="cgvIcon etc age12">12</i><span class="text">팟제너레이션</span><span class="sreader"></span></a></li><li class="" data-index="23" movie_cd_group="20005813" movie_idx="77772"><a href="#" onclick="return false;" title="비긴어게인" alt="비긴어게인"><i class="cgvIcon etc age18">18</i><span class="text">비긴어게인</span><span class="sreader"></span></a></li><li class="" data-index="24" movie_cd_group="20005813" movie_idx="77772"><a href="#" onclick="return false;" title="비긴어게인" alt="비긴어게인"><i class="cgvIcon etc age15">15</i><span class="text">비긴어게인</span><span class="sreader"></span></a></li><li class="" data-index="25" movie_cd_group="20028987" movie_idx="85672"><a href="#" onclick="return false;" title="라라랜드" alt="라라랜드"><i class="cgvIcon etc age18">18</i><span class="text">라라랜드</span><span class="sreader"></span></a></li><li class="" data-index="26" movie_cd_group="20028987" movie_idx="85672"><a href="#" onclick="return false;" title="라라랜드" alt="라라랜드"><i class="cgvIcon etc age12">12</i><span class="text">라라랜드</span><span class="sreader"></span></a></li><li class="" data-index="27" movie_cd_group="20033548" movie_idx="87258"><a href="#" onclick="return false;" title="극장판엉덩이탐정-미스터리가면~최강의대결" alt="극장판엉덩이탐정-미스터리가면~최강의대결"><i class="cgvIcon etc ageAll">ALL</i><span class="text">극장판엉덩이탐정-미스터리가면~최강의대결</span><span class="sreader"></span></a></li><li class="" data-index="28" movie_cd_group="20034056" movie_idx="87439"><a href="#" onclick="return false;" title="서칭포슈가맨" alt="서칭포슈가맨"><i class="cgvIcon etc ageAll">ALL</i><span class="text">서칭포슈가맨</span><span class="sreader"></span></a></li><li class="" data-index="29" movie_cd_group="20033675" movie_idx="87332"><a href="#" onclick="return false;" title="너와나" alt="너와나"><i class="cgvIcon etc age12">12</i><span class="text">너와나</span><span class="sreader"></span></a></li><li class="" data-index="30" movie_cd_group="20033765" movie_idx="87361"><a href="#" onclick="return false;" title="만강홍-사라진밀서" alt="만강홍-사라진밀서"><i class="cgvIcon etc age15">15</i><span class="text">만강홍-사라진밀서</span><span class="sreader"></span></a></li><li class="" data-index="31" movie_cd_group="20033345" movie_idx="87211"><a href="#" onclick="return false;" title="여덟개의산" alt="여덟개의산"><i class="cgvIcon etc age12">12</i><span class="text">여덟개의산</span><span class="sreader"></span></a></li><li class="" data-index="32" movie_cd_group="20033757" movie_idx="87353"><a href="#" onclick="return false;" title="스크래퍼" alt="스크래퍼"><i class="cgvIcon etc age12">12</i><span class="text">스크래퍼</span><span class="sreader"></span></a></li><li class="" data-index="33" movie_cd_group="20034061" movie_idx="87444"><a href="#" onclick="return false;" title="플라워킬링문" alt="플라워킬링문"><i class="cgvIcon etc age18">18</i><span class="text">플라워킬링문</span><span class="sreader"></span></a></li><li class="" data-index="34" movie_cd_group="20033957" movie_idx="87414"><a href="#" onclick="return false;" title="비텔로니" alt="비텔로니"><i class="cgvIcon etc age15">15</i><span class="text">비텔로니</span><span class="sreader"></span></a></li><li class="" data-index="35" movie_cd_group="20033544" movie_idx="87254"><a href="#" onclick="return false;" title="어파이어" alt="어파이어"><i class="cgvIcon etc age12">12</i><span class="text">어파이어</span><span class="sreader"></span></a></li><li class="" data-index="36" movie_cd_group="20033762" movie_idx="87358"><a href="#" onclick="return false;" title="익스펜더블4" alt="익스펜더블4"><i class="cgvIcon etc age18">18</i><span class="text">익스펜더블4</span><span class="sreader"></span></a></li><li class="" data-index="37" movie_cd_group="20033961" movie_idx="87418"><a href="#" onclick="return false;" title="달콤한인생에관한진실" alt="달콤한인생에관한진실"><i class="cgvIcon etc age12">12</i><span class="text">달콤한인생에관한진실</span><span class="sreader"></span></a></li><li class="" data-index="38" movie_cd_group="20034047" movie_idx="87436"><a href="#" onclick="return false;" title="[아트&amp;다이닝]오르세미술관,아름다운시절을추억하다" alt="[아트&amp;다이닝]오르세미술관,아름다운시절을추억하다"><i class="cgvIcon etc ageAll">ALL</i><span class="text">[아트&amp;다이닝]오르세미술관,아름다운시절을추억하다</span><span class="sreader"></span></a></li><li class="" data-index="39" movie_cd_group="20034054" movie_idx="87437"><a href="#" onclick="return false;" title="[콘서트&amp;다이닝]고흐의별이빛나는밤" alt="[콘서트&amp;다이닝]고흐의별이빛나는밤"><i class="cgvIcon etc ageAll">ALL</i><span class="text">[콘서트&amp;다이닝]고흐의별이빛나는밤</span><span class="sreader"></span></a></li><li class="" data-index="40" movie_cd_group="20031612" movie_idx="86720"><a href="#" onclick="return false;" title="더퍼스트슬램덩크" alt="더퍼스트슬램덩크"><i class="cgvIcon etc age12">12</i><span class="text">더퍼스트슬램덩크</span><span class="sreader"></span></a></li><li class="" data-index="41" movie_cd_group="20033550" movie_idx="87260"><a href="#" onclick="return false;" title="아르고원정대-꼬마영웅패티의대모험" alt="아르고원정대-꼬마영웅패티의대모험"><i class="cgvIcon etc ageAll">ALL</i><span class="text">아르고원정대-꼬마영웅패티의대모험</span><span class="sreader"></span></a></li><li class="" data-index="42" movie_cd_group="20033955" movie_idx="87412"><a href="#" onclick="return false;" title="[탭샵바]토크:와인과공간,브랜드너머" alt="[탭샵바]토크:와인과공간,브랜드너머"><i class="cgvIcon etc age18">18</i><span class="text">[탭샵바]토크:와인과공간,브랜드너머</span><span class="sreader"></span></a></li><li class="" data-index="43" movie_cd_group="20032704" movie_idx="87034"><a href="#" onclick="return false;" title="엘리멘탈" alt="엘리멘탈"><i class="cgvIcon etc ageAll">ALL</i><span class="text">엘리멘탈</span><span class="sreader"></span></a></li><li class="" data-index="44" movie_cd_group="20033615" movie_idx="87300"><a href="#" onclick="return false;" title="드림쏭2" alt="드림쏭2"><i class="cgvIcon etc ageAll">ALL</i><span class="text">드림쏭2</span><span class="sreader"></span></a></li><li class="" data-index="45" movie_cd_group="20034033" movie_idx="87434"><a href="#" onclick="return false;" title="람빅,시간과열정의맥주" alt="람빅,시간과열정의맥주"><i class="cgvIcon etc ageAll">ALL</i><span class="text">람빅,시간과열정의맥주</span><span class="sreader"></span></a></li><li class="" data-index="46" movie_cd_group="20033553" movie_idx="87263"><a href="#" onclick="return false;" title="마브카:숲의노래" alt="마브카:숲의노래"><i class="cgvIcon etc ageAll">ALL</i><span class="text">마브카:숲의노래</span><span class="sreader"></span></a></li><li class="" data-index="47" movie_cd_group="20034021" movie_idx="87428"><a href="#" onclick="return false;" title="엑소시스트-믿는자" alt="엑소시스트-믿는자"><i class="cgvIcon etc age15">15</i><span class="text">엑소시스트-믿는자</span><span class="sreader"></span></a></li><li class="" data-index="48" movie_cd_group="20034020" movie_idx="87427"><a href="#" onclick="return false;" title="BBC프롬스:NYO재즈위드디디브릿지워터" alt="BBC프롬스:NYO재즈위드디디브릿지워터"><i class="cgvIcon etc ageAll">ALL</i><span class="text">BBC프롬스:NYO재즈위드디디브릿지워터</span><span class="sreader"></span></a></li><li class="" data-index="49" movie_cd_group="20032888" movie_idx="87099"><a href="#" onclick="return false;" title="엔니오-더마에스트로" alt="엔니오-더마에스트로"><i class="cgvIcon etc age12">12</i><span class="text">엔니오-더마에스트로</span><span class="sreader"></span></a></li><li class="" data-index="50" movie_cd_group="20019689" movie_idx="81889"><a href="#" onclick="return false;" title="그녀" alt="그녀"><i class="cgvIcon etc age18">18</i><span class="text">그녀</span><span class="sreader"></span></a></li><li class="" data-index="51" movie_cd_group="20033613" movie_idx="87298"><a href="#" onclick="return false;" title="블루자이언트" alt="블루자이언트"><i class="cgvIcon etc age12">12</i><span class="text">블루자이언트</span><span class="sreader"></span></a></li><li class="" data-index="52" movie_cd_group="20033585" movie_idx="87290"><a href="#" onclick="return false;" title="절해고도" alt="절해고도"><i class="cgvIcon etc age12">12</i><span class="text">절해고도</span><span class="sreader"></span></a></li><li class="" data-index="53" movie_cd_group="20031945" movie_idx="86815"><a href="#" onclick="return false;" title="스즈메의문단속" alt="스즈메의문단속"><i class="cgvIcon etc age12">12</i><span class="text">스즈메의문단속</span><span class="sreader"></span></a></li><li class="" data-index="54" movie_cd_group="20033552" movie_idx="87262"><a href="#" onclick="return false;" title="닌자터틀-뮤턴트대소동" alt="닌자터틀-뮤턴트대소동"><i class="cgvIcon etc ageAll">ALL</i><span class="text">닌자터틀-뮤턴트대소동</span><span class="sreader"></span></a></li><li class="" data-index="55" movie_cd_group="20033756" movie_idx="87352"><a href="#" onclick="return false;" title="가문의영광-리턴즈" alt="가문의영광-리턴즈"><i class="cgvIcon etc age15">15</i><span class="text">가문의영광-리턴즈</span><span class="sreader"></span></a></li><li class="" data-index="56" movie_cd_group="20034107" movie_idx="87446"><a href="#" onclick="return false;" title="비더원:비퍼스트더무비" alt="비더원:비퍼스트더무비"><i class="cgvIcon etc ageAll">ALL</i><span class="text">비더원:비퍼스트더무비</span><span class="sreader"></span></a></li><li class="" data-index="57" movie_cd_group="20034130" movie_idx="87449"><a href="#" onclick="return false;" title="[사이다경제]금융교육의시작,온가족경제독립" alt="[사이다경제]금융교육의시작,온가족경제독립"><i class="cgvIcon etc ageAll">ALL</i><span class="text">[사이다경제]금융교육의시작,온가족경제독립</span><span class="sreader"></span></a></li><li class="" data-index="58" movie_cd_group="20033735" movie_idx="87344"><a href="#" onclick="return false;" title="[WhiskyMasterClass]나만의위스키취향" alt="[WhiskyMasterClass]나만의위스키취향"><i class="cgvIcon etc age18">18</i><span class="text">[WhiskyMasterClass]나만의위스키취향</span><span class="sreader"></span></a></li><li class="" data-index="59" movie_cd_group="20033120" movie_idx="87165"><a href="#" onclick="return false;" title="명탐정코난-흑철의어영" alt="명탐정코난-흑철의어영"><i class="cgvIcon etc age12">12</i><span class="text">명탐정코난-흑철의어영</span><span class="sreader"></span></a></li><li class="" data-index="60" movie_cd_group="20033341" movie_idx="87208"><a href="#" onclick="return false;" title="달짝지근해-7510" alt="달짝지근해-7510"><i class="cgvIcon etc age12">12</i><span class="text">달짝지근해-7510</span><span class="sreader"></span></a></li><li class="" data-index="61" movie_cd_group="20033225" movie_idx="87193"><a href="#" onclick="return false;" title="바비" alt="바비"><i class="cgvIcon etc age12">12</i><span class="text">바비</span><span class="sreader"></span></a></li><li class="" data-index="62" movie_cd_group="20004134" movie_idx="77221"><a href="#" onclick="return false;" title="라붐" alt="라붐"><i class="cgvIcon etc age15">15</i><span class="text">라붐</span><span class="sreader"></span></a></li><li class="" data-index="63" movie_cd_group="20031292" movie_idx="86537"><a href="#" onclick="return false;" title="라비앙로즈" alt="라비앙로즈"><i class="cgvIcon etc age12">12</i><span class="text">라비앙로즈</span><span class="sreader"></span></a></li><li class="" data-index="64" movie_cd_group="20009885" movie_idx="78954"><a href="#" onclick="return false;" title="본투비블루" alt="본투비블루"><i class="cgvIcon etc age18">18</i><span class="text">본투비블루</span><span class="sreader"></span></a></li><li class="" data-index="65" movie_cd_group="20030006" movie_idx="86021"><a href="#" onclick="return false;" title="뿌까의짜장면파티" alt="뿌까의짜장면파티"><i class="cgvIcon etc ageAll">ALL</i><span class="text">뿌까의짜장면파티</span><span class="sreader"></span></a></li><li class="" data-index="66" movie_cd_group="20034023" movie_idx="87430"><a href="#" onclick="return false;" title="사라인쿠바" alt="사라인쿠바"><i class="cgvIcon etc ageAll">ALL</i><span class="text">사라인쿠바</span><span class="sreader"></span></a></li><li class="" data-index="67" movie_cd_group="20032000" movie_idx="86828"><a href="#" onclick="return false;" title="수라" alt="수라"><i class="cgvIcon etc ageAll">ALL</i><span class="text">수라</span><span class="sreader"></span></a></li><li class="" data-index="68" movie_cd_group="20034024" movie_idx="87431"><a href="#" onclick="return false;" title="제11회스토리업쇼츠섹션1.우리,집,우리" alt="제11회스토리업쇼츠섹션1.우리,집,우리"><i class="cgvIcon etc age12">12</i><span class="text">제11회스토리업쇼츠섹션1.우리,집,우리</span><span class="sreader"></span></a></li><li class="" data-index="69" movie_cd_group="20034034" movie_idx="87435"><a href="#" onclick="return false;" title="제11회스토리업쇼츠섹션2.대담한대담-장르밖의장르" alt="제11회스토리업쇼츠섹션2.대담한대담-장르밖의장르"><i class="cgvIcon etc age18">18</i><span class="text">제11회스토리업쇼츠섹션2.대담한대담-장르밖의장르</span><span class="sreader"></span></a></li><li class="" data-index="70" movie_cd_group="20032344" movie_idx="86921"><a href="#" onclick="return false;" title="치치핑핑의쿵쿵따탐험대" alt="치치핑핑의쿵쿵따탐험대"><i class="cgvIcon etc ageAll">ALL</i><span class="text">치치핑핑의쿵쿵따탐험대</span><span class="sreader"></span></a></li><li class="" data-index="71" movie_cd_group="20015133" movie_idx="80459"><a href="#" onclick="return false;" title="플립" alt="플립"><i class="cgvIcon etc age12">12</i><span class="text">플립</span><span class="sreader"></span></a></li><li class="" data-index="72" movie_cd_group="20013008" movie_idx=""><a href="#" onclick="return false;" title="시사회" alt="시사회"><i class="cgvIcon etc ageAll">ALL</i><span class="text">시사회</span><span class="sreader"></span></a></li></ul>
                    <div class="pane pane-y" style="display: block; opacity: 1; visibility: visible;"><div class="slider slider-y" style="height: 50px; top: 6.9726px;"></div></div><div class="pane pane-x" style="display: none; opacity: 1; visibility: visible;"><div class="slider slider-x" style="width: 50px;"></div></div></div>
                    
                  </div>
                </div>
              </div>
    
              <!-- DATE 섹션 -->
              <div class="section section-date">
                <div class="col-head" id="skip_date_list">
                  <h3 class="sreader">날짜</h3>
                  <a href="#" onclick="return false;" class="skip_to_something">날짜 건너뛰기</a>
                </div>
                <div class="col-body" style="height: 565px;">
                  <!-- 날짜선택 -->
                  <div class="date-list nano has-scrollbar has-scrollbar-y" id="date_list">
                    <ul class="content scroll-y" tabindex="-1" style="right: -17px;"><div><li class="month dimmed"><div><span class="year">2023</span><span class="month">10</span><div></div></div></li><li data-index="0" date="20231009" class="day dimmed"><a href="#" onclick="return false;"><span class="dayweek">월</span><span class="day">9</span><span class="sreader">선택불가</span></a></li><li data-index="1" date="20231010" class="day dimmed"><a href="#" onclick="return false;"><span class="dayweek">화</span><span class="day">10</span><span class="sreader">선택불가</span></a></li><li data-index="2" date="20231011" class="day"><a href="#" onclick="return false;"><span class="dayweek">수</span><span class="day">11</span><span class="sreader"></span></a></li><li data-index="3" date="20231012" class="day"><a href="#" onclick="return false;"><span class="dayweek">목</span><span class="day">12</span><span class="sreader"></span></a></li><li data-index="4" date="20231013" class="day"><a href="#" onclick="return false;"><span class="dayweek">금</span><span class="day">13</span><span class="sreader"></span></a></li><li data-index="5" date="20231014" class="day day-sat"><a href="#" onclick="return false;"><span class="dayweek">토</span><span class="day">14</span><span class="sreader"></span></a></li><li data-index="6" date="20231015" class="day day-sun"><a href="#" onclick="return false;"><span class="dayweek">일</span><span class="day">15</span><span class="sreader"></span></a></li><li data-index="7" date="20231016" class="day"><a href="#" onclick="return false;"><span class="dayweek">월</span><span class="day">16</span><span class="sreader"></span></a></li><li data-index="8" date="20231017" class="day"><a href="#" onclick="return false;"><span class="dayweek">화</span><span class="day">17</span><span class="sreader"></span></a></li><li data-index="9" date="20231018" class="day dimmed"><a href="#" onclick="return false;"><span class="dayweek">수</span><span class="day">18</span><span class="sreader">선택불가</span></a></li><li data-index="10" date="20231019" class="day dimmed"><a href="#" onclick="return false;"><span class="dayweek">목</span><span class="day">19</span><span class="sreader">선택불가</span></a></li><li data-index="11" date="20231020" class="day dimmed"><a href="#" onclick="return false;"><span class="dayweek">금</span><span class="day">20</span><span class="sreader">선택불가</span></a></li><li data-index="12" date="20231021" class="day day-sat dimmed"><a href="#" onclick="return false;"><span class="dayweek">토</span><span class="day">21</span><span class="sreader">선택불가</span></a></li><li data-index="13" date="20231022" class="day day-sun dimmed"><a href="#" onclick="return false;"><span class="dayweek">일</span><span class="day">22</span><span class="sreader">선택불가</span></a></li><li data-index="14" date="20231023" class="day dimmed"><a href="#" onclick="return false;"><span class="dayweek">월</span><span class="day">23</span><span class="sreader">선택불가</span></a></li><li data-index="15" date="20231024" class="day dimmed"><a href="#" onclick="return false;"><span class="dayweek">화</span><span class="day">24</span><span class="sreader">선택불가</span></a></li><li data-index="16" date="20231025" class="day dimmed"><a href="#" onclick="return false;"><span class="dayweek">수</span><span class="day">25</span><span class="sreader">선택불가</span></a></li><li data-index="17" date="20231027" class="day dimmed"><a href="#" onclick="return false;"><span class="dayweek">금</span><span class="day">27</span><span class="sreader">선택불가</span></a></li><li data-index="18" date="20231028" class="day day-sat dimmed"><a href="#" onclick="return false;"><span class="dayweek">토</span><span class="day">28</span><span class="sreader">선택불가</span></a></li><li data-index="19" date="20231029" class="day day-sun dimmed"><a href="#" onclick="return false;"><span class="dayweek">일</span><span class="day">29</span><span class="sreader">선택불가</span></a></li><li data-index="20" date="20231031" class="day dimmed"><a href="#" onclick="return false;"><span class="dayweek">화</span><span class="day">31</span><span class="sreader">선택불가</span></a></li></div></ul>
                  <div class="pane pane-y" style="display: block; opacity: 1; visibility: visible;"><div class="slider slider-y" style="height: 50px; top: 0px;"></div></div><div class="pane pane-x" style="display: none; opacity: 1; visibility: visible;"><div class="slider slider-x" style="width: 50px;"></div></div></div>
                </div>
              </div>
              <!-- TIME 섹션 -->
              <div class="section section-time">
                <div class="col-head" id="skip_time_list">
                  <h3 class="sreader">시간</h3>
                  <a href="#" class="skip_to_something" onclick="skipToSomething('tnb_step_btn_right');return false;">시간선택 건너뛰기</a>
                </div>
                <div class="col-body" style="height: 565px;">
                  <!-- 시간선택 -->
                  <div class="time-option">
                    <span class="morning">모닝</span><span class="night">심야</span>
                  </div>
                  <div class="placeholder">영화, 극장, 날짜를 선택해주세요.</div>
                </div>
              </div>
            </div>
            <!-- //step1 -->
            <!-- step2 -->
            <div class="step step2" style="display: none;">
              <!-- SEAT 섹션 -->
              <div class="section section-seat">
                <div class="col-head" id="skip_seat_list">
                  <h3 class="sreader">
                    인원 / 좌석
                    <span class="sreader">인원/좌석선택은 레이어로 서비스 되기 때문에 가상커서를 해지(Ctrl+Shift+F12)한 후 사용합니다.</span>
                  </h3>
                  <a href="#" class="skip_to_something" onclick="skipToSomething('tnb_step_btn_right');return false;">인원/좌석선택 건너뛰기</a>
                </div>
                <div class="col-body">
                  <div class="person_screen">
                    <!-- NUMBEROFPEOPLE 섹션 -->
                    <div class="section section-numberofpeople">
                      <div class="col-body">
    
                        <!-- 인접좌석 -->
                        <!-- <div class="adjacent_seat_wrap">
                          <div class="adjacent_seat" id="adjacent_seat">
                            <span class="title">좌석 붙임 설정</span>
                            <div class="block_wrap">
                              <span class="seat_block block1"><label><input type="radio" name="adjacent_seat" onclick="ftSetAdjacentSeatSelector(1, this);" disabled><span class="box"></span><span class="sreader">1석 좌석붙임</span></label></span>
                              <span class="seat_block block2"><label><input type="radio" name="adjacent_seat" onclick="ftSetAdjacentSeatSelector(2, this);" disabled><span class="box"></span><span class="box"></span><span class="sreader">2석 좌석붙임</span></label></span>
                              <span class="seat_block block3"><label><input type="radio" name="adjacent_seat" onclick="ftSetAdjacentSeatSelector(3, this);" disabled><span class="box"></span><span class="box"></span><span class="box"></span><span class="sreader">3석 좌석붙임</span></label></span>
                              <span class="seat_block block4"><label><input type="radio" name="adjacent_seat" onclick="ftSetAdjacentSeatSelector(4, this);" disabled><span class="box"></span><span class="box"></span><span class="box"></span><span class="box"></span><span class="sreader">4석 좌석붙임</span></label></span>
                            </div>
                          </div>
                        </div> -->
    
                        
                          
                        
                      </div>
                    </div>
                    <!-- NUMBEROFPEOPLE 섹션 -->
                    <div class="section section-screen-select">
                      <!-- UI 변경으로 삭제 
                      <div class="title">선택하신 상영관<span>/</span>시간</div>
                      -->
                      <!-- UI 변경
                      <div class="screen-time">
                        <span class="screen"><b></b></span>
                        <span class="seats seat_all"></span>
                        <span class="time"></span>
                        <span class="seats seat_remain"></span>
                      </div>
                      -->
                      <div id="user-select-info">
                        <p class="theater-info">
                          <span class="site">CGV 천왕성</span>
                          <span class="screen">11층 8관 [Business]</span>
                          <span class="seatNum">남은좌석  <b class="restNum">100</b>/<b class="totalNum">900</b></span>
                        </p>
                        <p class="playYMD-info"><b>2017.04.10</b><b class="exe">(월)</b><b>00:00 - 00:00</b></p>
                      </div>
                    </div>
                
                    <div class="legend">
                      <div class="buttons">
                        <a class="btn-zoom" id="seat_zoom_btn" href="#" onclick="ts2SeatZoomClickListener();return false;">크게보기</a>
                      </div>
                      <div class="seat-icon-desc">
                        <span class="icon selected"><span class="icon"></span>선택</span>
                        <span class="icon reserved"><span class="icon"></span>예매완료</span>
                        <span class="icon notavail"><span class="icon"></span>선택불가</span>
                        <!-- 2021.05.25 - 좌석 거리두기 -->
                        <!-- 거리두기 좌석 범례 표기 -->
                        <span class="icon distanced"><span class="icon"></span>거리두기 좌석</span>
                      </div>
                      <div class="seat-type"></div>
                    </div>
                    <div class="mouse_block"></div>
                  </div>
                </div>
              </div>
            
              <!-- 시간표 변경 -->
            </div>
            <!-- //step2 -->
            <!-- step3 -->
            <div class="step step3" style="display: none;">
            </div>
            <!-- //step3 -->
            <!-- step4 -->
            <div class="step step4" style="display: none;">
            </div>
            <!-- //step4 -->
            <noscript>
              <div class="noscript"><span>현재 사용중인 환경에서는 스크립트 동작이 활성화되지 않아 예매 서비스를 이용하실 수 없습니다.<br/>예매 서비스를 이용하기 위해서는 <a href='http://www.enable-javascript.com/ko/' rel='nofollow'>스크립트 동작을 활성화</a> 해주세요.</span></div>
            </noscript>
          </div>
          <!-- 팝업 -->
          <div class="popups">                
            <!-- Popup - 로그인 --> 
    <div class="ft_layer_popup popup_login ko" style="display:none;">
        <!--<div class="hd">
            <div class="title_area">
                
                <h4>CGV회원 로그인</h4>
          
          <span class="sreader">빠른예매는 레이어로 서비스 되기 때문에 가상커서를 해지(Ctrl+Shift+F12)한 후 사용합니다.</span>
            </div>
            <a href="#" onclick="return false;" class="layer_close">닫기</a>
        </div>
        <div class="bd">
            <div class="login_form">
                <div class="input_wrap id">
                    <label for="txtUserId" class="blind">아이디</label>
                    <input name="txtUserId" id="txtUserId" maxlength="25" type="text">
                </div>
                <div class="input_wrap password">
                    <label for="txtPassword" class="blind">비밀번호</label>
                    <input name="txtPassword" id="txtPassword" maxlength="25" type="password">
                </div>
                <button type="button" title="로그인" class="btn_login"><span>로그인</span></button>       
            </div>
            <div class="linkbar">
              
                <a href="#" onclick="return false;" class="join_member">회원가입</a>
                <a href="#" onclick="return false;" class="join_guest">비회원 예매</a>
                <a href="#" onclick="return false;" class="id_find">아이디찾기</a>
                <a href="#" onclick="return false;" class="pw_find">비밀번호찾기</a>    
          
            </div>
        </div>-->
    </div>
    <!-- //Popup -->
    
    <!-- Popup - 얼럿 --> 
    <div class="ft_layer_popup popup_alert original ko" style="">
        <div class="hd">
            <div class="title_area">
                <h4 class="alert_title">얼럿타이틀</h4>
          <span class="sreader">빠른예매는 레이어로 서비스 되기 때문에 가상커서를 해지(Ctrl+Shift+F12)한 후 사용합니다.</span>
            </div>
            <a href="#" onclick="return false;" class="layer_close">닫기</a>
        </div><!-- //hd -->
        <div class="bd">
            <p class="alert_msg" style="width: 475px;">얼럿메세지</p>
        </div><!-- //bd -->
        <div class="ft">
            <a title="확인" href="#" onclick="return false;" class="btn btn_ok"><span>확인</span></a>
            <a title="취소" href="#" onclick="return false;" class="btn btn_white btn_close"><span>취소</span></a>
        </div><!-- //ft -->     
    </div>
    <!-- //Popup -->
    
    <!-- 2021.06.22 - 홈페이지 관람 안내 문구 팝업 창 -->
    <div class="ft_layer_popup popup_alert w450 base ko" style="top: 50%; position: absolute;">
        <div class="hd">
            <div class="title_area">
                <h4 class="alert_title">얼럿타이틀</h4>
          <span class="sreader">빠른예매는 레이어로 서비스 되기 때문에 가상커서를 해지(Ctrl+Shift+F12)한 후 사용합니다.</span>
            </div>
            <a href="#" onclick="return false;" class="layer_close">닫기</a>
        </div>
        <div class="bd">
            <p class="alert_msg">얼럿메세지</p>
        </div>
        <div class="ft">
            <a title="확인" href="#" onclick="return false;" class="btn btn_ok">
                <span>확인</span>
            </a>
            <a title="취소" href="#" onclick="return false;" class="btn btn_white btn_close">
                <span>취소</span>
            </a>
        </div>
    </div>
    
    <!-- 2022.12.27 - 영화등급 이미지 및 문구 수정 -->
    <div class="ft_layer_popup popup_alert popup_previewGradeInfo base ko" style="top: 255px; position: absolute;">
        <div class="hd">
            <div class="title_area">
                <h4 class="alert_title">관람등급 안내</h4>
                <span class="sreader">빠른예매는 레이어로 서비스 되기 때문에 가상커서를 해지(Ctrl+Shift+F12)한 후 사용합니다.</span>
            </div>
            <a href="#" onclick="return false" class="layer_close">닫기</a>
        </div>
        <div class="bd">
            <div class="previewGradeInfo_contents">관람등급 안내문구</div>
        </div>
        <div class="ft">
            <a title="확인" href="#" onclick="return false" class="btn btn_ok btn_red">
                <span>동의하고 예매하기</span>
            </a>
        </div>
    </div>
    
    <!-- Popup - guide --> 
    <div class="ft_layer_popup popup_guide ko" style="display:none;">
        <div class="guide_hd">
            <h4><span class="blind">CGV 예매가이드</span></h4>
            <p><span class="blind">새롭게 바뀐 CGV 예매 서비스를 직접 확인해보세요!</span></p>
        </div><!-- //hd -->
        <div class="guide_bd">
            <div class="tab_menu clfix">
                <ul>
                    <li class="a first"><a href="#none" onclick="return false;" class="on" title="STEP 1 영화, 극장, 날짜, 시간 선택"><span><var><span class="blind_txt tab1">STEP 1 영화, 극장, 날짜, 시간 선택</span></var></span></a></li>
                    <li class="b"><a href="#none" onclick="return false;" title="STEP 2 인원, 좌석선택"><span><var><span class="blind_txt tab2">STEP 2 인원, 좌석선택</span></var></span></a></li>
                    <li class="c"><a href="#none" onclick="return false;" title="STEP 3 결제하기"><span><var><span class="blind_txt tab3">STEP 3 결제하기</span></var></span></a></li>
                </ul>
            </div>
            <div class="content">
                <div class="guide_step01">
                    <p class="notice"><span class="blind">원하시는 영화, 극장, 날짜, 시간 정보를 선택해주세요!</span></p>
                    <div class="guide_btn">
                        <p><span class="question blind_txt">물음표</span><span class="info">를 오버시 해당 설명을 볼 수 있습니다.</span></p>
                        <ul>
                            <li class="btn01">
                                <a href="#" onclick="return false;" class="btnVisInfo blind_txt">물음표-새롭게 바뀐 CGV 예매서비스안내</a>
                                <p class="infoBx">
                                    <span class="top"></span>
                                    <span class="middle">전체 화면구성이 세로형으로 변경되어 더 빠르고 쉽게 정보 선택이 가능해졌어요!</span>
                                    <span class="bottom"></span>
                                </p>
                            </li>
                            <li class="btn02">
                                <a href="#" onclick="return false;" class="btnVisInfo blind_txt">물음표-영화분류안내</a>
                                <p class="infoBx">
                                <span class="top"></span>
                                <span class="middle">무비꼴라쥬, 특별관 영화를 빠르고 편리하게 분류하여 확인할 수 있어요!</span>
                                <span class="bottom"></span>
                                </p>
                            </li>
                            <!--
                            <li class="btn03">
                                <a href="#" onclick="return false;" class="btnVisInfo blind_txt">물음표-선택할 수 없는 영화안내</a>
                                <p class="infoBx">
                                <span class="top"></span>
                                <span class="middle">선택 불가능한 정보는 장애인 차별금지법에 따라 패턴 디자인을 적용하여 모든 사용자가 쉽게 구분할 수 있어요!</span>
                                <span class="bottom"></span>
                                </p>
                            </li>
                            -->
                            <li class="btn04">
                                <a href="#" onclick="return false;" class="btnVisInfo blind_txt">물음표-자주가는 CGV안내</a>
                                <p class="infoBx">
                                <span class="top"></span>
                                <span class="middle">자주 가는 극장 설정 기능을 통해 보다 빠른 극장 선택이 가능해졌어요!</span>
                                <span class="bottom"></span>
                                </p>
                            </li>
                            <li class="btn05">
                                <a href="#" onclick="return false;" class="btnVisInfo blind_txt">물음표-영문 빠른예매</a>
                                <p class="infoBx">
                                <span class="top"></span>
                                <span class="middle">영문 버전 빠른예매를 통해 다국적 사용자들도 쉽게 예매 서비스를 이용할 수 있어요!</span>
                                <span class="bottom"></span>
                                </p>
                            </li>
                            <li class="btn06">
                                <a href="#" onclick="return false;" class="btnVisInfo blind_txt">물음표-조조/심야구분안내</a>
                                <p class="infoBx">
                                <span class="top"></span>
                                <span class="middle">조조/심야 영화 시간에 대해 쉽게 확인할 수 있어요!</span>
                                <span class="bottom"></span>
                                </p>
                            </li>
                            <li class="btn07">
                                <a href="#" onclick="return false;" class="btnVisInfo blind_txt">물음표-새롭게 바뀐 CGV 예매서비스안내</a>
                                <p class="infoBx">
                                <span class="top"></span>
                                <span class="middle">선택한 예매 정보 및 나의 예매 진행 단계를 한 눈에 파악할 수 있어요!</span>
                                <span class="bottom"></span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div><!--//guide_step01-->
                <div class="guide_step02">
                    <p class="notice"><span class="blind">예매 인원수에 맞게 원하시는 자리 를 선택해주세요!</span></p>
                    <div class="guide_btn">
                        <p><span class="question blind_txt">물음표</span><span class="info">를 오버시 해당 설명을 볼 수 있습니다.</span></p>
                        <ul>
                            <li class="btn01">
                                <a href="#" onclick="return false;" title="" class="btnVisInfo blind_txt">물음표-상영관/시간 확인 및 변경안내</a>
                                <p class="infoBx">
                                    <span class="top"></span>
                                    <span class="middle">선택한 상영관/시간 확인 및 변경 기능이 보다 쉽고 눈에 띄게 변경되었어요!</span>
                                    <span class="bottom"></span>
                                </p>
                            </li>
                            <li class="btn02">
                                <a href="#" onclick="return false;" title="" class="btnVisInfo blind_txt">물음표-다양한 좌석도 보기안내</a>
                                <p class="infoBx">
                                    <span class="top"></span>
                                    <span class="middle">좌석도 크게 보기 기능으로 시력이 좋지 않으신 분들도 쉽게 예매가 가능해졌어요!</span>
                                    <span class="bottom"></span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div><!--//guide_step02-->
                <div class="guide_step03">
                    <p class="notice"><span class="blind">원하시는 할인 및 결제수단을 이용하여 예매를 완료해주세요!</span></p>
                    <div class="guide_btn">
                        <p><span class="question blind_txt">물음표</span><span class="info">를 오버시 해당 설명을 볼 수 있습니다.</span></p>
                        <ul>
                            <li class="btn01">
                                <a href="#" onclick="return false;" title="" class="btnVisInfo blind_txt">물음표-할인 및 결제수단안내</a>
                                <p class="infoBx">
                                    <span class="top"></span>
                                    <span class="middle">전체 화면구성이 할인수단과 결제수단 영역으로 나뉘어 한 눈에 보기 편리해졌어요!</span>
                                    <span class="bottom"></span>
                                </p>
                            </li>
                            <li class="btn02">
                                <a href="#" onclick="return false;" title="" class="btnVisInfo blind_txt">물음표-CGV영화관람권,할인쿠폰, CJ ONE포인트 안내</a>
                                <p class="infoBx">
                                    <span class="top"></span>
                                    <span class="middle">주요 할인수단인 CGV영화관람권, CGV할인쿠폰, CJ ONE 포인트의 바로 조회 기능을 통해 보다 빠른 예매가 가능해졌어요!</span>
                                    <span class="bottom"></span>
                                </p>
                            </li>
                            <li class="btn03">
                                <a href="#" onclick="return false;" title="" class="btnVisInfo blind_txt">물음표-할인수단별 선택안내</a>
                                <p class="infoBx">
                                    <span class="top"></span>
                                    <span class="middle">다양한 CGV의 할인수단을 보기 쉽게 그룹화하여 원하는 할인수단만 선택해 이용하실 수 있어요!</span>
                                    <span class="bottom"></span>
                                </p>
                            </li>
                            <li class="btn04">
                                <a href="#" onclick="return false;" title="" class="btnVisInfo blind_txt">물음표-결제정보안내</a>
                                <p class="infoBx">
                                    <span class="top"></span>
                                    <span class="middle">내가 적용한 할인 및 결제수단 내역을 한 눈에 쉽게 확인 가능해요!</span>
                                    <span class="bottom"></span>
                                </p>
                            </li>
                            <li class="btn05">
                                <a href="#" onclick="return false;" title="" class="btnVisInfo blind_txt">물음표-최신할인정보안내</a>
                                <p class="infoBx">
                                    <span class="top"></span>
                                    <span class="middle">다양한 CGV결제수단의 최신 할인 정보를 쉽게 모아 볼 수 있어요!</span>
                                    <span class="bottom"></span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div><!--//guide_step03-->
            </div>
        </div><!-- //bd -->  
        <div class="ft">
            <a title="닫기" href="#" onclick="return false;" class="btn btn_white btn_close"><span>닫기</span></a>
            <a title="닫기" href="#" onclick="return false;" class="layer_close">닫기</a>
        </div><!-- //ft -->  
    </div>
    <!-- //Popup -->
    
          </div>
          <!-- //팝업 -->
        </div>
        <!-- //빠른예매 -->
      </div>
      <!-- //컨텐츠 -->
    
      <div class="popup_wrap">
        <div class="cgv_popup pop_incomeDeduction dimmed">
          <div class="popup_header">
            <h1>영화관람료 소득공제 안내</h1>
            <a href="#none" class="btn_popupClose">확인</a>
          </div>
          <div class="popup_container">
            <div class="income-deduction-content" style="display: block;">
              <p>본 콘텐츠는 영화관람료 <span></span> 대상 상품입니다.</p>
              <p>문화비 소득공제는 자동 적용되며, 결제 완료 후 변경이 불가합니다.</p>
              <ol>
                <li>
                  <strong>1. 영화관람료 소득공제란?</strong>
                  <p>2023년 7월 1일 결제분부터 영화관람료에 대해 문화비 소득공제가 적용됩니다.</p>
                  <ul>
                    <li>총 급여 7천만 원 이하, 신용카드 등 사용액이 총 급여액의 25%가 넘는 근로소득자를 대상으로 적용됩니다.</li>
                    <li>공제율은 30%, 공제 한도는 전통시장 사용분, 대중교통 사용분, 문화비 사용분에 대한 소득공제를 합해 총 300만원 입니다.</li>
                  </ul>
                </li>
                <li>
                  <strong>2. 영화관람료 소득공제 대상 상품</strong>
                  <ul>
                    <li>영화 및 공연상품 (단, 영화와 매점(패스트오더) 상품 통합결제 시 대상 제외 / 스포츠 중계, 게임 중계, 강연 등 일부 콘텐츠 제외)</li>
                  </ul>
                </li>
                <li>
                  <strong>3. 영화관람료 소득공제 제외 대상 상품</strong>
                  <ul>
                    <li>매점(패스트오더), 씨네샵, 포토티켓 등 영화와 무관한 상품 제외</li>
                    <li>비상설상영관 등 일부 상영관 제외</li>
                  </ul>
                </li>
                <li>
                  <strong>4. 영화관람료 소득공제 가능 결제수단</strong>
                  <ul>
                    <li>카드결제: 신용카드(법인카드 불가, 개인카드에 한함)</li>
                    <li>현금결제: 관람권, 포인트 등 현금영수증 처리가 가능한 결제수단</li>
                    <li>간편결제: 네이버페이, 카카오페이, Payco, 토스페이</li>
                    <li>휴대폰결제</li>
                  </ul>
                </li>
                <li>
                  <strong>5. 영화관람료 소득공제 제외 결제수단</strong>
                  <ul>
                    <li>현금영수증 처리가 불가한 제휴 결제수단</li>
                    <li>그 외 OK캐쉬백, 그 외 Point 등 일부 결제수단</li>
                  </ul>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      
      <div id="ticket_tnb" class="tnb_container ">
        <div class="tnb step1">
          <a class="btn-right"  title="좌석선택">다음단계로 이동 - 레이어로 서비스 되기 때문에 가상커서를 해지(Ctrl+Shift+F12)한 후 사용합니다.</a>
        </div>
      </div>
    
   <script>
           var dateSpans = document.querySelectorAll('.date-list li.day');
        
        dateSpans.forEach(function(dayElement) {
            dayElement.addEventListener('click', function() {
                var selectedDate = dayElement.getAttribute('date');
                console.log('선택한 날짜:', selectedDate);
            });
        });
        
   </script>
    
    </body>
<style></style>

</html>