<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>


  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="webstoryboy">

    <title>freash_tomato</title>
    <meta name="description" content="티켓팅을 위한 사이트">
    <meta name="keywords" content="티켓팅을 위한 사이트">
    <title>Fresh Tomato</title>

    <!-- css -->
    <link rel="stylesheet" href="./reset.css?after">
    <link rel="stylesheet" href="./style.css?after">
    <link rel="stylesheet" href="./swiper.css?after">
    <link hredf="./style.css" media="screen and (min-width: 512px) and (max-width: 1024px)" rel="stylesheet">
    <link hredf="./swiper.css" media="screen and (min-width: 512px) and (max-width: 1024px)" rel="stylesheet">

    
    <!-- 파비콘 -->
    <link rel="shortcut icon" href="assets/icons/freash_tomato_logo.png">
    <link rel="apple-touch-icon-precomposed" href="assets/icons/freash_tomato_logo.png" />
    <link rel="apple-touch-icon-precomposed" sizes="96x96" href="assets/icons/freash_tomato_logo.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/icons/freash_tomato_logo.png" />
    <link rel="apple-touch-icon-precomposed" sizes="192x192" href="assets/icons/freash_tomato_logo.png" />
    
    <!-- 페이스북 메타 태그 -->
    <meta property="og:title" content="Fresh Tomato" />
    <meta property="og:url" content="https://github.com/webstoryboy/megabox2019" />
    <meta property="og:image" content="https://webstoryboy.github.io/megabox2019/mega.jpg" />
    <meta property="og:description" content="티켓팅을 위한 사이트" />
   
    <!-- 트위터 메타 태그 -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Fresh Tomato">
    <meta name="twitter:url" content="https://github.com/webstoryboy/megabox2019/">
    <meta name="twitter:image" content="https://webstoryboy.github.io/megabox2019/mega.jpg">
    <meta name="twitter:description" content="티케팃을 위한 사이트">
    
    <!-- 웹 폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean" rel="stylesheet">
    
    <!-- HTLM5shiv ie6~8 -->
    <!--[if lt IE 9]> 
      <script src="assets/js/html5shiv.min.js"></script>
      <script type="text/javascript">
         alert("현재 브라우저는 지원하지 않습니다. 크롬 브라우저를 추천합니다.!");
      </script>
   <![endif]-->
</head>
<body>
    
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="header clearfix">
                    <h1>
                        <a href="/">
     
                            <strong><img src="assets/img/freash_tomato_main.png" alt="LIFE THEATER" style="transform: translateY(-20px);"></strong>
                    
                        </a>    
                    </h1>
                    <nav id="mNav">
                        <h2 class="ir_so">티켓팅 전체메뉴</h2>
                        <a href="#" class="ham"><span></span></a>
                    </nav>
                    <nav class="nav">
                        <ul class="clearfix">
                            <li><a href="/movie">영화</a></li>
                            <li><a href="/choice">영화예매</a></li>
                            <li><a href="/my_page">내정보</a></li>
                           
                        </ul>
                    </nav>    
                </div>
            </div>
        </div>
    </header>
    <!-- //header -->

    <div class="search">
        <div class="input-box">
            <i class="uil uil-search"></i>
            <form action="/search" calass = "form" id="form" method="POST">
                <input type="text" placeholder="영화를 검색하세요" class="input" name="searchinput"/>
                <a href="/search">
                    <button class="button">
                        <img src="assets/img/search.png">
                    </button>
                </a>
            </form>
        </div>
    </div>
         <!-- 검색창 -->
    














  
  <html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml"><script id="youtube-hd-fjdmkanbdloodhegphphhklnjfngoffa">var ythdlog = () => {};;var ythderror = () => {};</script><head id="ctl00_Head1"><script async="" src="http://ad.cgv.co.kr/NetInsight/text/CGV/CGV_201608/RIA@RIA_Skin_Ticketing?_=1696856224990"></script>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="No-Cache">
    <meta http-equiv="imagetoolbar" content="no">
    <meta name="keywords" content="CGV, 시지브이, 영화관, 극장, 영화, 티켓, 박스오피스, 극장, Movie, Theater, Cinema, Cgv, cgv, 예매, 상영작">
    <meta name="description" content="영화 그 이상의 감동. CGV">
    <title>CGV 빠른예매</title>
    <link rel="stylesheet" href="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/css/2023/0720/FORM_TYPE/common.css">
    <link rel="stylesheet" href="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/css/2023/0720/FORM_TYPE/reservation.css">
    <link rel="stylesheet" href="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/css/2023/0720/FORM_TYPE/reservation_tnb.css">
    <link rel="stylesheet" href="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/css/2023/0720/FORM_TYPE/reservation_popup.css">
    <link rel="stylesheet" href="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/css/2023/0720/FORM_TYPE/reservation_step3.css">
    <link rel="stylesheet" href="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/css/2023/0720/FORM_TYPE/reservation_step3_special.css">
    <link rel="stylesheet" href="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/css/2023/0720/FORM_TYPE/reservation_step3_step1.css">
    <link rel="stylesheet" href="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/css/2023/0720/FORM_TYPE/reservation_step3_step2.css">
    <link rel="stylesheet" href="http://img.cgv.co.kr/R2014/css/webfont.css">
    <link rel="stylesheet" href="http://img.cgv.co.kr/resource_pc/css/cgv.min.css">
    <script type="text/javascript" src="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/js/cgvpackage.min.js"></script>
    <script type="text/javascript" src="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/js/2023/1005.U_CULTURE/1600/jquery.cgv.js"></script>
    <script type="text/javascript" src="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/js/2023/1005.U_CULTURE/1600/jquery.cgv.api.ticket.js"></script>
    <script type="text/javascript" src="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/js/2023/1005.U_CULTURE/1600/jquery.cgv.api.payment.js"></script>
    <script type="text/javascript" src="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/js/2023/1005.U_CULTURE/1600/jquery.cgv.api.coupon.js"></script>
    <script type="text/javascript" src="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/js/2023/1005.U_CULTURE/1600/jquery.cgv.crypto.js"></script>
    <script type="text/javascript" src="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/js/2023/1005.U_CULTURE/1600/jquery.cgv.data.js"></script>
    <script type="text/javascript" src="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/js/2023/1005.U_CULTURE/1600/jquery.cgv.net.js"></script>
    
    <script type="text/javascript" src="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/js/2023/1005.U_CULTURE/1600/reservation.alert.js"></script>
    
    <script type="text/javascript" src="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/js/2023/1005.U_CULTURE/1600/reservation.js"></script>
    <script type="text/javascript" src="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/js/2023/1005.U_CULTURE/1600/reservation.popup.js"></script>
    <script type="text/javascript" src="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/js/2023/1005.U_CULTURE/1600/reservation.step1.js"></script>
    <script type="text/javascript" src="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/js/2023/1005.U_CULTURE/1600/reservation.step2.js"></script>
    <script type="text/javascript">
    // for loadStep3Resources_STEP2 include source path;
    var CDN_PATH_JS = "http://img.cgv.co.kr/CGV_RIA/Ticket/Common/js/2023/1005.U_CULTURE/1600/";
    // 초기 선택값 설정
    preselectSetting( 
      '20033940',
      '20033629',
      '',
      '',
      '',
      '',
      '',
      '',
      '',
      ''
    );
    </script>
    <input type="hidden" id="_w_simile" data-inspect-config="3"><script type="text/javascript" src="chrome-extension://dbjbempljhcmhlfpfacalomonjpalpko/scripts/inspector.js"></script><script src="chrome-extension://njgehaondchbmjmajphnhlojfnbfokng/js/contentScripts/dom.js"></script><style type="text/css"></style></head>
    
    <body style="">
    <a name="t"></a>
    <div id="wrap" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
      <!-- 컨텐츠 -->
      <div id="container">
        <!-- 빠른예매 -->
        <div id="ticket" class="ticket ko">
          
          <!-- 타이틀 -->
          <div class="navi">
            <div class="newsletter">
              <p style="display: none;"><a href="#">Click here</a> if you want to receive newsletter about English subtitle movies</p>
            </div>

            
          </div>
          <!-- //타이틀 -->
          <!-- 메인컨텐츠 -->
          <div class="steps">
            <!-- step1 -->
            <div class="step step1" style="height: 600px; display: block; color: #3333;">
              <!-- MOVIE 섹션 -->
              <div class="section section-movie">
                <!-- col-head -->
                <div class="col-head" id="skip_movie_list">
                  <h3 class="sreader">영화</h3>
             
                </div>
                <!-- col-body -->
                <div class="col-body" style="height: 565px;">
                  <!-- 영화선택 -->
                  <div class="movie-select">
                    <ul>
                    <img src="\assets\img\가디언즈오브갤럭시3.jpg">     <!--영화 이미지-->
                    <a style="font-size: 24px;">영화제목</a>
                    </ul>
                 
 
                    <div class="movie-list nano has-scrollbar has-scrollbar-y" id="movie_list">
                      <ul class="content scroll-y" onscroll="movieSectionScrollEvent();" tabindex="-1" style="right: -17px;"><div class="selectbox-movie-type checkedBD" style="width: auto; top: 36px; display: none;">
                    
               
                       
                    </div>
                    <div class="pane pane-y" style="display: block; opacity: 1; visibility: visible;"></div><div class="pane pane-x" style="display: none; opacity: 1; visibility: visible;"><div class="slider slider-x" style="width: 50px;"></div></div></div>
                    
                  </div>
                </div>
              </div>
    
              <!-- DATE 섹션 -->
              <div class="section section-date">
                <div class="col-head" id="skip_date_list">
                  <h3 class="sreader">날짜</h3>
                  <a href="#" onclick="return false;" class="skip_to_something">날짜 건너뛰기</a>
                </div>
                <div class="col-body" style="height: 565px;">
                  <!-- 날짜선택 -->
                  <div class="date-list nano has-scrollbar has-scrollbar-y" id="date_list">
                    <ul class="content scroll-y" tabindex="-1" style="right: -17px;"><div><li class="month dimmed"><div><span class="year">2023</span><span class="month">10</span><div></div></div></li><li data-index="0" date="20231009" class="day dimmed"><a href="#" onclick="return false;"><span class="dayweek">월</span><span class="day">9</span><span class="sreader">선택불가</span></a></li><li data-index="1" date="20231010" class="day dimmed"><a href="#" onclick="return false;"><span class="dayweek">화</span><span class="day">10</span><span class="sreader">선택불가</span></a></li><li data-index="2" date="20231011" class="day"><a href="#" onclick="return false;"><span class="dayweek">수</span><span class="day">11</span><span class="sreader"></span></a></li><li data-index="3" date="20231012" class="day"><a href="#" onclick="return false;"><span class="dayweek">목</span><span class="day">12</span><span class="sreader"></span></a></li><li data-index="4" date="20231013" class="day"><a href="#" onclick="return false;"><span class="dayweek">금</span><span class="day">13</span><span class="sreader"></span></a></li><li data-index="5" date="20231014" class="day day-sat"><a href="#" onclick="return false;"><span class="dayweek">토</span><span class="day">14</span><span class="sreader"></span></a></li><li data-index="6" date="20231015" class="day day-sun"><a href="#" onclick="return false;"><span class="dayweek">일</span><span class="day">15</span><span class="sreader"></span></a></li><li data-index="7" date="20231016" class="day"><a href="#" onclick="return false;"><span class="dayweek">월</span><span class="day">16</span><span class="sreader"></span></a></li><li data-index="8" date="20231017" class="day"><a href="#" onclick="return false;"><span class="dayweek">화</span><span class="day">17</span><span class="sreader"></span></a></li><li data-index="9" date="20231018" class="day dimmed"><a href="#" onclick="return false;"><span class="dayweek">수</span><span class="day">18</span><span class="sreader">선택불가</span></a></li><li data-index="10" date="20231019" class="day dimmed"><a href="#" onclick="return false;"><span class="dayweek">목</span><span class="day">19</span><span class="sreader">선택불가</span></a></li><li data-index="11" date="20231020" class="day dimmed"><a href="#" onclick="return false;"><span class="dayweek">금</span><span class="day">20</span><span class="sreader">선택불가</span></a></li><li data-index="12" date="20231021" class="day day-sat dimmed"><a href="#" onclick="return false;"><span class="dayweek">토</span><span class="day">21</span><span class="sreader">선택불가</span></a></li><li data-index="13" date="20231022" class="day day-sun dimmed"><a href="#" onclick="return false;"><span class="dayweek">일</span><span class="day">22</span><span class="sreader">선택불가</span></a></li><li data-index="14" date="20231023" class="day dimmed"><a href="#" onclick="return false;"><span class="dayweek">월</span><span class="day">23</span><span class="sreader">선택불가</span></a></li><li data-index="15" date="20231024" class="day dimmed"><a href="#" onclick="return false;"><span class="dayweek">화</span><span class="day">24</span><span class="sreader">선택불가</span></a></li><li data-index="16" date="20231025" class="day dimmed"><a href="#" onclick="return false;"><span class="dayweek">수</span><span class="day">25</span><span class="sreader">선택불가</span></a></li><li data-index="17" date="20231027" class="day dimmed"><a href="#" onclick="return false;"><span class="dayweek">금</span><span class="day">27</span><span class="sreader">선택불가</span></a></li><li data-index="18" date="20231028" class="day day-sat dimmed"><a href="#" onclick="return false;"><span class="dayweek">토</span><span class="day">28</span><span class="sreader">선택불가</span></a></li><li data-index="19" date="20231029" class="day day-sun dimmed"><a href="#" onclick="return false;"><span class="dayweek">일</span><span class="day">29</span><span class="sreader">선택불가</span></a></li><li data-index="20" date="20231031" class="day dimmed"><a href="#" onclick="return false;"><span class="dayweek">화</span><span class="day">31</span><span class="sreader">선택불가</span></a></li></div></ul>
                  <div class="pane pane-y" style="display: block; opacity: 1; visibility: visible;"><div class="slider slider-y" style="height: 50px; top: 0px;"></div></div><div class="pane pane-x" style="display: none; opacity: 1; visibility: visible;"><div class="slider slider-x" style="width: 50px;"></div></div></div>
                </div>
              </div>
              <!-- TIME 섹션 -->
              <div class="section section-time">
                <div class="col-head" id="skip_time_list">
                  <h3 class="sreader">시간</h3>
                  <a href="#" class="skip_to_something" onclick="skipToSomething('tnb_step_btn_right');return false;">시간선택 건너뛰기</a>
                </div>
                <div class="col-body" style="height: 565px;">
                  <!-- 시간선택 -->
                  <div class="time-option">
                    <span class="morning">모닝</span><span class="night">심야</span>

                  </div>
               
                    <div class="placeholder"><!-- 시간 선택 -->
                   
                    </div>
                  
                  </div>
                  
                  </div>
                </div>
              </div>
            </div>
            <!-- //step1 -->
            <!-- step2 -->
            <div class="step step2" style="display: none;">
              <!-- SEAT 섹션 -->
              <div class="section section-seat">
                <div class="col-head" id="skip_seat_list">
                  <h3 class="sreader">
                    인원 / 좌석
                    <span class="sreader">인원/좌석선택은 레이어로 서비스 되기 때문에 가상커서를 해지(Ctrl+Shift+F12)한 후 사용합니다.</span>
                  </h3>
                  <a href="#" class="skip_to_something" onclick="skipToSomething('tnb_step_btn_right');return false;">인원/좌석선택 건너뛰기</a>
                </div>
                <div class="col-body">
                  <div class="person_screen">
                    <!-- NUMBEROFPEOPLE 섹션 -->
                    <div class="section section-numberofpeople">
                      <div class="col-body">
    
                        <!-- 인접좌석 -->
                        <!-- <div class="adjacent_seat_wrap">
                          <div class="adjacent_seat" id="adjacent_seat">
                            <span class="title">좌석 붙임 설정</span>
                            <div class="block_wrap">
                              <span class="seat_block block1"><label><input type="radio" name="adjacent_seat" onclick="ftSetAdjacentSeatSelector(1, this);" disabled><span class="box"></span><span class="sreader">1석 좌석붙임</span></label></span>
                              <span class="seat_block block2"><label><input type="radio" name="adjacent_seat" onclick="ftSetAdjacentSeatSelector(2, this);" disabled><span class="box"></span><span class="box"></span><span class="sreader">2석 좌석붙임</span></label></span>
                              <span class="seat_block block3"><label><input type="radio" name="adjacent_seat" onclick="ftSetAdjacentSeatSelector(3, this);" disabled><span class="box"></span><span class="box"></span><span class="box"></span><span class="sreader">3석 좌석붙임</span></label></span>
                              <span class="seat_block block4"><label><input type="radio" name="adjacent_seat" onclick="ftSetAdjacentSeatSelector(4, this);" disabled><span class="box"></span><span class="box"></span><span class="box"></span><span class="box"></span><span class="sreader">4석 좌석붙임</span></label></span>
                            </div>
                          </div>
                        </div> -->
    
                        
                          
                        
                      </div>
                    </div>
                    <!-- NUMBEROFPEOPLE 섹션 -->
                    <div class="section section-screen-select">
                      <!-- UI 변경으로 삭제 
                      <div class="title">선택하신 상영관<span>/</span>시간</div>
                      -->
                      <!-- UI 변경
                      <div class="screen-time">
                        <span class="screen"><b></b></span>
                        <span class="seats seat_all"></span>
                        <span class="time"></span>
                        <span class="seats seat_remain"></span>
                      </div>
                      -->
                      <div id="user-select-info">
                        <p class="theater-info">
                          <span class="site">CGV 천왕성</span>
                          <span class="screen">11층 8관 [Business]</span>
                          <span class="seatNum">남은좌석  <b class="restNum">100</b>/<b class="totalNum">900</b></span>
                        </p>
                        <p class="playYMD-info"><b>2017.04.10</b><b class="exe">(월)</b><b>00:00 - 00:00</b></p>
                      </div>
                    </div>
                
                    <div class="legend">
                      <div class="buttons">
                        <a class="btn-zoom" id="seat_zoom_btn" href="#" onclick="ts2SeatZoomClickListener();return false;">크게보기</a>
                      </div>
                      <div class="seat-icon-desc">
                        <span class="icon selected"><span class="icon"></span>선택</span>
                        <span class="icon reserved"><span class="icon"></span>예매완료</span>
                        <span class="icon notavail"><span class="icon"></span>선택불가</span>
                        <!-- 2021.05.25 - 좌석 거리두기 -->
                        <!-- 거리두기 좌석 범례 표기 -->
                        <span class="icon distanced"><span class="icon"></span>거리두기 좌석</span>
                      </div>
                      <div class="seat-type"></div>
                    </div>
                    <div class="mouse_block"></div>
                  </div>
                </div>
              </div>
            
              <!-- 시간표 변경 -->
            </div>
            <!-- //step2 -->
            <!-- step3 -->
            <div class="step step3" style="display: none;">
            </div>
            <!-- //step3 -->
            <!-- step4 -->
            <div class="step step4" style="display: none;">
            </div>
            <!-- //step4 -->
            <noscript>
              <div class="noscript"><span>현재 사용중인 환경에서는 스크립트 동작이 활성화되지 않아 예매 서비스를 이용하실 수 없습니다.<br/>예매 서비스를 이용하기 위해서는 <a href='http://www.enable-javascript.com/ko/' rel='nofollow'>스크립트 동작을 활성화</a> 해주세요.</span></div>
            </noscript>
          </div>
          <!-- 팝업 -->
          <div class="popups">                
            <!-- Popup - 로그인 --> 
    <div class="ft_layer_popup popup_login ko" style="display:none;">
        <!--<div class="hd">
            <div class="title_area">
                
                <h4>CGV회원 로그인</h4>
          
          <span class="sreader">빠른예매는 레이어로 서비스 되기 때문에 가상커서를 해지(Ctrl+Shift+F12)한 후 사용합니다.</span>
            </div>
            <a href="#" onclick="return false;" class="layer_close">닫기</a>
        </div>
        <div class="bd">
            <div class="login_form">
                <div class="input_wrap id">
                    <label for="txtUserId" class="blind">아이디</label>
                    <input name="txtUserId" id="txtUserId" maxlength="25" type="text">
                </div>
                <div class="input_wrap password">
                    <label for="txtPassword" class="blind">비밀번호</label>
                    <input name="txtPassword" id="txtPassword" maxlength="25" type="password">
                </div>
                <button type="button" title="로그인" class="btn_login"><span>로그인</span></button>       
            </div>
            <div class="linkbar">
              
                <a href="#" onclick="return false;" class="join_member">회원가입</a>
                <a href="#" onclick="return false;" class="join_guest">비회원 예매</a>
                <a href="#" onclick="return false;" class="id_find">아이디찾기</a>
                <a href="#" onclick="return false;" class="pw_find">비밀번호찾기</a>    
          
            </div>
        </div>-->
    </div>
    <!-- //Popup -->
    
    <!-- Popup - 얼럿 --> 
    <div class="ft_layer_popup popup_alert original ko" style="">
        <div class="hd">
            <div class="title_area">
                <h4 class="alert_title">얼럿타이틀</h4>
          <span class="sreader">빠른예매는 레이어로 서비스 되기 때문에 가상커서를 해지(Ctrl+Shift+F12)한 후 사용합니다.</span>
            </div>
            <a href="#" onclick="return false;" class="layer_close">닫기</a>
        </div><!-- //hd -->
        <div class="bd">
            <p class="alert_msg" style="width: 475px;">얼럿메세지</p>
        </div><!-- //bd -->
        <div class="ft">
            <a title="확인" href="#" onclick="return false;" class="btn btn_ok"><span>확인</span></a>
            <a title="취소" href="#" onclick="return false;" class="btn btn_white btn_close"><span>취소</span></a>
        </div><!-- //ft -->     
    </div>
    <!-- //Popup -->
    
    <!-- 2021.06.22 - 홈페이지 관람 안내 문구 팝업 창 -->
    <div class="ft_layer_popup popup_alert w450 base ko" style="top: 50%; position: absolute;">
        <div class="hd">
            <div class="title_area">
                <h4 class="alert_title">얼럿타이틀</h4>
          <span class="sreader">빠른예매는 레이어로 서비스 되기 때문에 가상커서를 해지(Ctrl+Shift+F12)한 후 사용합니다.</span>
            </div>
            <a href="#" onclick="return false;" class="layer_close">닫기</a>
        </div>
        <div class="bd">
            <p class="alert_msg">얼럿메세지</p>
        </div>
        <div class="ft">
            <a title="확인" href="#" onclick="return false;" class="btn btn_ok">
                <span>확인</span>
            </a>
            <a title="취소" href="#" onclick="return false;" class="btn btn_white btn_close">
                <span>취소</span>
            </a>
        </div>
    </div>
    
    <!-- 2022.12.27 - 영화등급 이미지 및 문구 수정 -->
    <div class="ft_layer_popup popup_alert popup_previewGradeInfo base ko" style="top: 255px; position: absolute;">
        <div class="hd">
            <div class="title_area">
                <h4 class="alert_title">관람등급 안내</h4>
                <span class="sreader">빠른예매는 레이어로 서비스 되기 때문에 가상커서를 해지(Ctrl+Shift+F12)한 후 사용합니다.</span>
            </div>
            <a href="#" onclick="return false" class="layer_close">닫기</a>
        </div>
        <div class="bd">
            <div class="previewGradeInfo_contents">관람등급 안내문구</div>
        </div>
        <div class="ft">
            <a title="확인" href="#" onclick="return false" class="btn btn_ok btn_red">
                <span>동의하고 예매하기</span>
            </a>
        </div>
    </div>
    
    <!-- Popup - guide --> 
    <div class="ft_layer_popup popup_guide ko" style="display:none;">
        <div class="guide_hd">
            <h4><span class="blind">CGV 예매가이드</span></h4>
            <p><span class="blind">새롭게 바뀐 CGV 예매 서비스를 직접 확인해보세요!</span></p>
        </div><!-- //hd -->
        <div class="guide_bd">
            <div class="tab_menu clfix">
               
            </div>
            <div class="content">
                <div class="guide_step01">
                    <p class="notice"><span class="blind">원하시는 영화, 극장, 날짜, 시간 정보를 선택해주세요!</span></p>
                    <div class="guide_btn">
                        <p><span class="question blind_txt">물음표</span><span class="info">를 오버시 해당 설명을 볼 수 있습니다.</span></p>
                        <ul>
                            <li class="btn01">
                                <a href="#" onclick="return false;" class="btnVisInfo blind_txt">물음표-새롭게 바뀐 CGV 예매서비스안내</a>
                                <p class="infoBx">
                                    <span class="top"></span>
                                    <span class="middle">전체 화면구성이 세로형으로 변경되어 더 빠르고 쉽게 정보 선택이 가능해졌어요!</span>
                                    <span class="bottom"></span>
                                </p>
                            </li>
                            <li class="btn02">
                                <a href="#" onclick="return false;" class="btnVisInfo blind_txt">물음표-영화분류안내</a>
                                <p class="infoBx">
                                <span class="top"></span>
                                <span class="middle">무비꼴라쥬, 특별관 영화를 빠르고 편리하게 분류하여 확인할 수 있어요!</span>
                                <span class="bottom"></span>
                                </p>
                            </li>
                            <!--
                            <li class="btn03">
                                <a href="#" onclick="return false;" class="btnVisInfo blind_txt">물음표-선택할 수 없는 영화안내</a>
                                <p class="infoBx">
                                <span class="top"></span>
                                <span class="middle">선택 불가능한 정보는 장애인 차별금지법에 따라 패턴 디자인을 적용하여 모든 사용자가 쉽게 구분할 수 있어요!</span>
                                <span class="bottom"></span>
                                </p>
                            </li>
                            -->
                            <li class="btn04">
                                <a href="#" onclick="return false;" class="btnVisInfo blind_txt">물음표-자주가는 CGV안내</a>
                                <p class="infoBx">
                                <span class="top"></span>
                                <span class="middle">자주 가는 극장 설정 기능을 통해 보다 빠른 극장 선택이 가능해졌어요!</span>
                                <span class="bottom"></span>
                                </p>
                            </li>
                            <li class="btn05">
                                <a href="#" onclick="return false;" class="btnVisInfo blind_txt">물음표-영문 빠른예매</a>
                                <p class="infoBx">
                                <span class="top"></span>
                                <span class="middle">영문 버전 빠른예매를 통해 다국적 사용자들도 쉽게 예매 서비스를 이용할 수 있어요!</span>
                                <span class="bottom"></span>
                                </p>
                            </li>
                            <li class="btn06">
                                <a href="#" onclick="return false;" class="btnVisInfo blind_txt">물음표-조조/심야구분안내</a>
                                <p class="infoBx">
                                <span class="top"></span>
                                <span class="middle">조조/심야 영화 시간에 대해 쉽게 확인할 수 있어요!</span>
                                <span class="bottom"></span>
                                </p>
                            </li>
                            <li class="btn07">
                                <a href="#" onclick="return false;" class="btnVisInfo blind_txt">물음표-새롭게 바뀐 CGV 예매서비스안내</a>
                                <p class="infoBx">
                                <span class="top"></span>
                                <span class="middle">선택한 예매 정보 및 나의 예매 진행 단계를 한 눈에 파악할 수 있어요!</span>
                                <span class="bottom"></span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div><!--//guide_step01-->
                <div class="guide_step02">
                    <p class="notice"><span class="blind">예매 인원수에 맞게 원하시는 자리 를 선택해주세요!</span></p>
                    <div class="guide_btn">
                        <p><span class="question blind_txt">물음표</span><span class="info">를 오버시 해당 설명을 볼 수 있습니다.</span></p>
                        <ul>
                            <li class="btn01">
                                <a href="#" onclick="return false;" title="" class="btnVisInfo blind_txt">물음표-상영관/시간 확인 및 변경안내</a>
                                <p class="infoBx">
                                    <span class="top"></span>
                                    <span class="middle">선택한 상영관/시간 확인 및 변경 기능이 보다 쉽고 눈에 띄게 변경되었어요!</span>
                                    <span class="bottom"></span>
                                </p>
                            </li>
                            <li class="btn02">
                                <a href="#" onclick="return false;" title="" class="btnVisInfo blind_txt">물음표-다양한 좌석도 보기안내</a>
                                <p class="infoBx">
                                    <span class="top"></span>
                                    <span class="middle">좌석도 크게 보기 기능으로 시력이 좋지 않으신 분들도 쉽게 예매가 가능해졌어요!</span>
                                    <span class="bottom"></span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div><!--//guide_step02-->
                <div class="guide_step03">
                    <p class="notice"><span class="blind">원하시는 할인 및 결제수단을 이용하여 예매를 완료해주세요!</span></p>
                    <div class="guide_btn">
                        <p><span class="question blind_txt">물음표</span><span class="info">를 오버시 해당 설명을 볼 수 있습니다.</span></p>
                        <ul>
                            <li class="btn01">
                                <a href="#" onclick="return false;" title="" class="btnVisInfo blind_txt">물음표-할인 및 결제수단안내</a>
                                <p class="infoBx">
                                    <span class="top"></span>
                                    <span class="middle">전체 화면구성이 할인수단과 결제수단 영역으로 나뉘어 한 눈에 보기 편리해졌어요!</span>
                                    <span class="bottom"></span>
                                </p>
                            </li>
                            <li class="btn02">
                                <a href="#" onclick="return false;" title="" class="btnVisInfo blind_txt">물음표-CGV영화관람권,할인쿠폰, CJ ONE포인트 안내</a>
                                <p class="infoBx">
                                    <span class="top"></span>
                                    <span class="middle">주요 할인수단인 CGV영화관람권, CGV할인쿠폰, CJ ONE 포인트의 바로 조회 기능을 통해 보다 빠른 예매가 가능해졌어요!</span>
                                    <span class="bottom"></span>
                                </p>
                            </li>
                            <li class="btn03">
                                <a href="#" onclick="return false;" title="" class="btnVisInfo blind_txt">물음표-할인수단별 선택안내</a>
                                <p class="infoBx">
                                    <span class="top"></span>
                                    <span class="middle">다양한 CGV의 할인수단을 보기 쉽게 그룹화하여 원하는 할인수단만 선택해 이용하실 수 있어요!</span>
                                    <span class="bottom"></span>
                                </p>
                            </li>
                            <li class="btn04">
                                <a href="#" onclick="return false;" title="" class="btnVisInfo blind_txt">물음표-결제정보안내</a>
                                <p class="infoBx">
                                    <span class="top"></span>
                                    <span class="middle">내가 적용한 할인 및 결제수단 내역을 한 눈에 쉽게 확인 가능해요!</span>
                                    <span class="bottom"></span>
                                </p>
                            </li>
                            <li class="btn05">
                                <a href="#" onclick="return false;" title="" class="btnVisInfo blind_txt">물음표-최신할인정보안내</a>
                                <p class="infoBx">
                                    <span class="top"></span>
                                    <span class="middle">다양한 CGV결제수단의 최신 할인 정보를 쉽게 모아 볼 수 있어요!</span>
                                    <span class="bottom"></span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div><!--//guide_step03-->
            </div>
        </div><!-- //bd -->  
        <div class="ft">
            <a title="닫기" href="#" onclick="return false;" class="btn btn_white btn_close"><span>닫기</span></a>
            <a title="닫기" href="#" onclick="return false;" class="layer_close">닫기</a>
        </div><!-- //ft -->  
    </div>
    <!-- //Popup -->
    
          </div>
          <!-- //팝업 -->
        </div>
        <!-- //빠른예매 -->
      </div>
      <!-- //컨텐츠 -->
    
      <div class="popup_wrap">
        <div class="cgv_popup pop_incomeDeduction dimmed">
          <div class="popup_header">
            <h1>영화관람료 소득공제 안내</h1>
            <a href="#none" class="btn_popupClose">확인</a>
          </div>
          <div class="popup_container">
            <div class="income-deduction-content" style="display: block;">
              <p>본 콘텐츠는 영화관람료 <span></span> 대상 상품입니다.</p>
              <p>문화비 소득공제는 자동 적용되며, 결제 완료 후 변경이 불가합니다.</p>
              <ol>
                <li>
                  <strong>1. 영화관람료 소득공제란?</strong>
                  <p>2023년 7월 1일 결제분부터 영화관람료에 대해 문화비 소득공제가 적용됩니다.</p>
                  <ul>
                    <li>총 급여 7천만 원 이하, 신용카드 등 사용액이 총 급여액의 25%가 넘는 근로소득자를 대상으로 적용됩니다.</li>
                    <li>공제율은 30%, 공제 한도는 전통시장 사용분, 대중교통 사용분, 문화비 사용분에 대한 소득공제를 합해 총 300만원 입니다.</li>
                  </ul>
                </li>
                <li>
                  <strong>2. 영화관람료 소득공제 대상 상품</strong>
                  <ul>
                    <li>영화 및 공연상품 (단, 영화와 매점(패스트오더) 상품 통합결제 시 대상 제외 / 스포츠 중계, 게임 중계, 강연 등 일부 콘텐츠 제외)</li>
                  </ul>
                </li>
                <li>
                  <strong>3. 영화관람료 소득공제 제외 대상 상품</strong>
                  <ul>
                    <li>매점(패스트오더), 씨네샵, 포토티켓 등 영화와 무관한 상품 제외</li>
                    <li>비상설상영관 등 일부 상영관 제외</li>
                  </ul>
                </li>
                <li>
                  <strong>4. 영화관람료 소득공제 가능 결제수단</strong>
                  <ul>
                    <li>카드결제: 신용카드(법인카드 불가, 개인카드에 한함)</li>
                    <li>현금결제: 관람권, 포인트 등 현금영수증 처리가 가능한 결제수단</li>
                    <li>간편결제: 네이버페이, 카카오페이, Payco, 토스페이</li>
                    <li>휴대폰결제</li>
                  </ul>
                </li>
                <li>
                  <strong>5. 영화관람료 소득공제 제외 결제수단</strong>
                  <ul>
                    <li>현금영수증 처리가 불가한 제휴 결제수단</li>
                    <li>그 외 OK캐쉬백, 그 외 Point 등 일부 결제수단</li>
                  </ul>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      
      <div id="ticket_tnb" class="tnb_container ">
        <div class="tnb step1">
          <button onclick="bt()" ><a class="btn-right"  title="좌석선택"></a></button><!--좌석선택버튼-->
        </div>
      </div>
    
   <script>
           var dateSpans = document.querySelectorAll('.date-list li.day');
        
        dateSpans.forEach(function(dayElement) {
            dayElement.addEventListener('click', function() {
                var selectedDate = dayElement.getAttribute('date');
                console.log('선택한 날짜:', selectedDate);
                
            });
        });




        function bt(){
          alert("좌석선택 클릭");
        }
    
        
   </script>
    
    </body>
<style>
  .movie-name{
    font-size: 100px;
  }

  
  </style>

</html>