<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
  <!-- css -->
  <link rel="stylesheet" href="./reset.css">
  <link rel="stylesheet" href="./style_movie.css">
  <link rel="stylesheet" href="./swiper.css">

  <!-- 웹 폰트 -->
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean" rel="stylesheet">
<body>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="container bootstrap snippets bootdey">
    <hr>
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="header clearfix">
                    <h1>
                        <a href="/">
                            <em><img src="assets/img/logo.png" alt="MEGABOX"></em>
                            <strong><img src="assets/img/logo-sub.png" alt="LIFE THEATER"></strong>
                    
                        </a>    
                    </h1>
                    <nav id="mNav">
                        <h2 class="ir_so">메가박스 전체메뉴</h2>
                        <a href="#" class="ham"><span></span></a>
                    </nav>
                    <nav class="nav">
                        <ul class="clearfix">
                            <li><a href="/movie">영화</a></li>
                            <li><a href="/reserve">영화예매</a></li>
                            <li><a href="/my_page">마이페이지</a></li>
                           
                                <li><a href="/login">로그인</a></li>

                        </ul>
                    </nav>    
                </div>
            </div>
        </div>
    </header>
    <!-- //header -->

    <div class="search">
        <div class="input-box">
            <form action="/search" calass = "form" id="form" method="POST">
                <input type="text" placeholder="영화를 검색하세요" class="input" name="searchinput"/>
                <a href="/search">
                    <button class="button">
                        <img src="assets/img/search.png">
                    </button>
                </a>
            </form>
        </div>
    </div>
    
         <!-- 검색창 -->
         <% if (title[0] != null) { %>
            <% for (var i=0; i < title.length; i++) { %> 
            <div class="well search-result">
                <div class="row">
                    <form action="/movie_in" class = "form" id="form" method="POST">
                        <input type="text" name="moviename" style = "display:none" value =<%= title[i].movie_name %> />
                        <button type = "submit" class="button" style="display: inline-block; background: #f2f2f2; font-size: 18px; padding: 15px 30px;"><div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                            <img class="img-responsive" src="assets/img/<%= title[i].movie_name %>.jpg" alt="">
                        </div>
                        <div class="col-xs-6 col-sm-9 col-md-9 col-lg-10 title">
                            <h3><%= title[i].movie_name %></h3>
                            <p><%= title[i].movie_director %></p>
                        </div></button>
                    </form>
                    
                </div>
            </div>
            
        <% }; %>
        
        <div class="row">
            <button type="button" class="btn btn-info  btn-block">
        </div>
    </div>
            
        <% }else { %>
            <div>
                <h3>검색결과 없음</h3>
            </div>
        <% }; %>
    </div>
</div>
    
</body>
<script>
    function logoutCheck() {
            if (confirm("정말 로그아웃하시겠습니까??") == true){    //확인
                document.location.href="/logoutprocess";
            }else{   //취소
                return false;
            }
        }
</script>
<style>
    body{
    background:#eee;

}
.search-result .title h3 {
    margin: 0 0 15px;
    color: #333;
}
.search-result .title p {
    font-size: 12px;
    color: #333;
}
.well {
    border: 0;
    margin: 0 auto;
    padding: 20px;
    min-height: 63px;
    background: #fff;
    box-shadow: none;
    border-radius: 3px;
    position: relative;
    max-height: 100000px;
    border-bottom: 2px solid #ccc;
    transition: max-height 0.5s ease;
    -o-transition: max-height 0.5s ease;
    -ms-transition: max-height 0.5s ease;
    -moz-transition: max-height 0.5s ease;
    -webkit-transition: max-height 0.5s ease;
}
.form-control {
    height: 45px;
    padding: 10px;
    font-size: 16px;
    box-shadow: none;
    border-radius: 0;
    position: relative;
}
    .container{
        background-color: #f0f0f0;
    }
                  
</style>
</html>